@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0D1117;
  color: #E6EDF3;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}